%li.member
  .details
    .name
      = member["name"]
      = member["nick"]
    .homepage= member["homepage"]
  %ul.projects
    - member.fetch("projects", []).each do |info|
      - [*info].each do |name, url|  # makes it work for straight strings, hashes, ...
        %li
          (
          %a{:href => url || "http://github.com/#{member['github']}/#{name}"}= name
          )